
@{
    ViewBag.Title = "suckhoe";
    Layout = "~/Views/Shared/trangchu.cshtml";
}
<link href="~/Content/Mycss/suckhoe.css" rel="stylesheet" />
<div class="tieudechinh">
    <h2>Sơn Tùng,Jack sắp  không thể leo 'top trending' YouTube</h2>
</div>
<div class="container">
    <div class="noidung">
        <div class="noidungchinh">
            <ul>
                <li class="ngaythangnam">Thứ sáu, 11/07/2025 17:15 (GMT+7)</li>
            </ul>
            <div class="tieudecuanoidung">
                <h2 class="tieude">Newsfeed Rate tuần vừa qua đánh giá cao tạo hình truyền thống của Nguyễn Lâm Thảo Tâm, hình ảnh "nàng thơ" của Trúc Anh và trang phục quyến rũ của Tăng Mỹ Hàn.</h2>
            </div>
            <div class="image">
                <img src="~/hình/thảo tâm.jpg" class="hinh" />
            </div>
            <div class="content-inside">
                <p class="title-phu"><strong>#1. Nguyễn Lâm Thảo Tâm - 8,5/10 điểm:</strong>Nguyễn Lâm Thảo Tâm tạo dấu ấn trong tuần này với trang phục mang nhiều ý nghĩa. Cụ thể, cô khoác lên mình chiếc áo Quan văn Chánh Ngũ Phẩm, cùng thẻ bài Hồng Lô Tự Thiếu Khanh, phần nào thể hiện thông điệp về những thay đổi trong sự nghiệp học vấn của phụ nữ Việt theo thời gian. Thảo Tâm cũng diện bộ Việt Phục cùng đồng kim tiền mang mang dấu ấn thời gian để tôn vinh di sản dân tộc. Cô thực hiện kiểu tóc vấn gọn gàng, hướng sự chú ý vào trang phục truyền thống đầy ý nghĩa. Tạo hình của Thảo Tâm nhận về nhiều lời khen ngợi, được đánh giá là góp phần giữ gìn bản sắc văn hóa trong đời sống hiện đại. Ảnh:mia.soya.</p>
            </div>
            <div class="image1">
                <img src="~/hình/Ngọc thanh tâm.jpg" class="hinh1" />
                <img src="~/hình/Ngọc thanh tâm1.jpg" class="hinh1" />
            </div>
            <div class="content-inside">
                <p class="title-phu"><strong>#1. Nguyễn Lâm Thảo Tâm - 8,5/10 điểm:</strong>Nguyễn Lâm Thảo Tâm tạo dấu ấn trong tuần này với trang phục mang nhiều ý nghĩa. Cụ thể, cô khoác lên mình chiếc áo Quan văn Chánh Ngũ Phẩm, cùng thẻ bài Hồng Lô Tự Thiếu Khanh, phần nào thể hiện thông điệp về những thay đổi trong sự nghiệp học vấn của phụ nữ Việt theo thời gian. Thảo Tâm cũng diện bộ Việt Phục cùng đồng kim tiền mang mang dấu ấn thời gian để tôn vinh di sản dân tộc. Cô thực hiện kiểu tóc vấn gọn gàng, hướng sự chú ý vào trang phục truyền thống đầy ý nghĩa. Tạo hình của Thảo Tâm nhận về nhiều lời khen ngợi, được đánh giá là góp phần giữ gìn bản sắc văn hóa trong đời sống hiện đại. Ảnh:mia.soya.</p>
            </div>
            <div class="image1">
                <img src="~/hình/Ngọc thanh tâm.jpg" class="hinh1" />
                <img src="~/hình/Ngọc thanh tâm1.jpg" class="hinh1" />
            </div>
            <div class="content-inside">
                <p class="title-phu"><strong>#1. Nguyễn Lâm Thảo Tâm - 8,5/10 điểm:</strong>Nguyễn Lâm Thảo Tâm tạo dấu ấn trong tuần này với trang phục mang nhiều ý nghĩa. Cụ thể, cô khoác lên mình chiếc áo Quan văn Chánh Ngũ Phẩm, cùng thẻ bài Hồng Lô Tự Thiếu Khanh, phần nào thể hiện thông điệp về những thay đổi trong sự nghiệp học vấn của phụ nữ Việt theo thời gian. Thảo Tâm cũng diện bộ Việt Phục cùng đồng kim tiền mang mang dấu ấn thời gian để tôn vinh di sản dân tộc. Cô thực hiện kiểu tóc vấn gọn gàng, hướng sự chú ý vào trang phục truyền thống đầy ý nghĩa. Tạo hình của Thảo Tâm nhận về nhiều lời khen ngợi, được đánh giá là góp phần giữ gìn bản sắc văn hóa trong đời sống hiện đại. Ảnh:mia.soya.</p>
            </div>
            <div class="image1">
                <img src="https://photo.znews.vn/w960/Uploaded/rotnba/2025_07_13/snapins_ai_DMAl1psT_d_2_.jpg" class="hinh1" />
                <img src="https://photo.znews.vn/w960/Uploaded/rotnba/2025_07_13/519415583_18360929989196389_5768908009003043597_n.jpg" class="hinh1" />
            </div>
            <div class="content-inside">
                <p class="title-phu"><strong>#1. Nguyễn Lâm Thảo Tâm - 8,5/10 điểm:</strong>Nguyễn Lâm Thảo Tâm tạo dấu ấn trong tuần này với trang phục mang nhiều ý nghĩa. Cụ thể, cô khoác lên mình chiếc áo Quan văn Chánh Ngũ Phẩm, cùng thẻ bài Hồng Lô Tự Thiếu Khanh, phần nào thể hiện thông điệp về những thay đổi trong sự nghiệp học vấn của phụ nữ Việt theo thời gian. Thảo Tâm cũng diện bộ Việt Phục cùng đồng kim tiền mang mang dấu ấn thời gian để tôn vinh di sản dân tộc. Cô thực hiện kiểu tóc vấn gọn gàng, hướng sự chú ý vào trang phục truyền thống đầy ý nghĩa. Tạo hình của Thảo Tâm nhận về nhiều lời khen ngợi, được đánh giá là góp phần giữ gìn bản sắc văn hóa trong đời sống hiện đại. Ảnh:mia.soya.</p>
            </div>
            <div class="image">
                <img src="https://photo.znews.vn/w960/Uploaded/rotnba/2025_07_13/snapins_ai_DMAl1psT_d_2_.jpg" class="hinh" />
            </div>
            <div class="content-inside">
                <p class="title-phu"><strong>#1. Nguyễn Lâm Thảo Tâm - 8,5/10 điểm:</strong>Nguyễn Lâm Thảo Tâm tạo dấu ấn trong tuần này với trang phục mang nhiều ý nghĩa. Cụ thể, cô khoác lên mình chiếc áo Quan văn Chánh Ngũ Phẩm, cùng thẻ bài Hồng Lô Tự Thiếu Khanh, phần nào thể hiện thông điệp về những thay đổi trong sự nghiệp học vấn của phụ nữ Việt theo thời gian. Thảo Tâm cũng diện bộ Việt Phục cùng đồng kim tiền mang mang dấu ấn thời gian để tôn vinh di sản dân tộc. Cô thực hiện kiểu tóc vấn gọn gàng, hướng sự chú ý vào trang phục truyền thống đầy ý nghĩa. Tạo hình của Thảo Tâm nhận về nhiều lời khen ngợi, được đánh giá là góp phần giữ gìn bản sắc văn hóa trong đời sống hiện đại. Ảnh:mia.soya.</p>
            </div>
            <div class="baillienquan-section">
                <h3>Bài liên quan</h3>
                <div class="baillienquan-list">
                    <a href="#" class="baillienquan-item">
                        <img src="~/hình/war.png" />
                        <p>iPhone 7 không còn tải được YouTube</p>
                    </a>
                    <a href="#" class="baillienquan-item">
                        <img src="~/hình/war.png" />
                        <p>YouTube vừa dùng AI để 'phá vỡ rào cản ngôn ngữ'</p>
                    </a>
                    <a href="#" class="baillienquan-item">
                        <img src="~/hình/war.png" />
                        <p>Quảng cáo trên YouTube sắp khó chịu hơn bao giờ hết</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="related-articles">
            <div class="header">
                <h3><span class="slash">/</span>BẠN CÓ THỂ QUAN TÂM</h3>
            </div>
            <div class="article-grid">
                <div class="article-item">
                    <a href="#"><img src="~/hình/highlight river.png" alt="Thảm họa với app livestream" /></a>
                    <div class="article-content">
                        <a href="#" class="link">
                            <div class="article-title">Meme 'siêu nhân Trump' của Nhà Trắng gây tranh cãi</div>
                        </a>
                        <div class="meta">
                            <div class="time">07:40 13/7/2025</div>
                            <a href="#" class="link"><div class="category">INTERNET</div></a>
                        </div>
                    </div>
                </div>

                <div class="article-item">
                    <a href="#"><img src="~/hình/highlight river.png" alt="Gói AI 6,6 triệu của Google" /></a>
                    <div class="article-content">
                        <a href="#" class="link">
                            <div class="article-title">Meme 'siêu nhân Trump' của Nhà Trắng gây tranh cãi</div>
                        </a>
                        <div class="meta">
                            <div class="time">08:17 12/7/2025</div>
                            <a href="#" class="link"><div class="category">INTERNET</div></a>
                        </div>
                    </div>
                </div>

                <div class="article-item">
                    <a href="#"><img src="~/hình/highlight river.png" alt="Công an vào cuộc vụ livestream đánh đập" /></a>
                    <div class="article-content">
                        <a href="#" class="link">
                            <div class="article-title">Meme 'siêu nhân Trump' của Nhà Trắng gây tranh cãi</div>
                        </a>
                        <div class="meta">
                            <div class="time">10:51 13/7/2025</div>
                            <a href="#" class="link"><div class="category">INTERNET</div></a>
                        </div>
                    </div>
                </div>

                <div class="article-item">
                    <a href="#"><img src="~/hình/highlight river.png" alt="Quán net thành hơn hở tại Hàn Quốc" /></a>
                    <div class="article-content">
                        <a href="#" class="link">
                            <div class="article-title">Meme 'siêu nhân Trump' của Nhà Trắng gây tranh cãi</div>
                        </a>
                        <div class="meta">
                            <div class="time">08:37 13/7/2025</div>
                            <a href="#" class="link"><div class="category">INTERNET</div></a>
                        </div>
                    </div>
                </div>

                <div class="article-item">
                    <a href="#"><img src="~/hình/highlight river.png" alt="Meme 'siêu nhân Trump'" /></a>
                    <div class="article-content">
                        <a href="#" class="link">
                            <div class="article-title">Meme 'siêu nhân Trump' của Nhà Trắng gây tranh cãi</div>
                        </a>
                        <div class="meta">
                            <div class="time">12:45 12/7/2025</div>
                            <a href="#" class="link"><div class="category">INTERNET</div></a>
                        </div>
                    </div>
                </div>

                <div class="article-item">
                    <a href="#"><img src="~/hình/highlight river.png" alt="Người Việt thi nhau tìm kiếm" /></a>
                    <div class="article-content">
                        <a href="#" class="link">
                            <div class="article-title">Meme 'siêu nhân Trump' của Nhà Trắng gây tranh cãi</div>
                        </a>
                        <div class="meta">
                            <div class="time">18:50 10/7/2025</div>
                            <a href="#" class="link"><div class="category">INTERNET</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nangluong-section">
            <div class="header">
                <h3>XEM NHIỀU</h3>
            </div>
            <div class="nangluong-list">
                <div class="nangluong-item">
                    <a href="#"><img src="https://images.unsplash.com/photo-1581091226825-a6a2a5aee158?ixlib=rb-4.0.3&auto=format&fit=crop&w=400&q=80" alt="Tuổi trẻ Nghệ An" class="nangluong-image"></a>
                    <div class="nangluong-content">
                        <a href="#" class="link"> <div class="nangluong-title">Tuổi trẻ Nghệ An đắm mình dưới nước ngọ vệt, làm sạch khe suối</div></a>
                        <div class="nangluong-meta">
                            <span class="time">18:37</span>
                            <span class="time">13/7/2025</span>
                            <a href="#" class="link"><span class="tenmenu">THỂ THAO</span></a>
                        </div>
                        <p class="chuphu">Cộng đồng mạng bức xúc khi chứng kiến cảnh người đàn ông livestream ghi lại cảnh đánh đập một cô gái đang ôm bé nhỏ. Cơ quan chức năng đang tìm người này để điều tra làm rõ vụ việc.</p>
                    </div>
                </div>

                <div class="nangluong-item">
                    <a href="#"><img src="https://images.unsplash.com/photo-1581091226825-a6a2a5aee158?ixlib=rb-4.0.3&auto=format&fit=crop&w=400&q=80" alt="Tuổi trẻ Nghệ An" class="nangluong-image"></a>
                    <div class="nangluong-content">
                        <a href="#" class="link"> <div class="nangluong-title">Tuổi trẻ Nghệ An đắm mình dưới nước ngọ vệt, làm sạch khe suối</div></a>
                        <div class="nangluong-meta">
                            <span class="time">18:37</span>
                            <span class="time">13/7/2025</span>
                            <a href="#" class="link"><span class="tenmenu">THỂ THAO</span></a>
                        </div>
                        <p class="chuphu">Cộng đồng mạng bức xúc khi chứng kiến cảnh người đàn ông livestream ghi lại cảnh đánh đập một cô gái đang ôm bé nhỏ. Cơ quan chức năng đang tìm người này để điều tra làm rõ vụ việc.</p>
                    </div>
                </div>

                <div class="nangluong-item">
                    <a href="#"><img src="https://images.unsplash.com/photo-1581091226825-a6a2a5aee158?ixlib=rb-4.0.3&auto=format&fit=crop&w=400&q=80" alt="Tuổi trẻ Nghệ An" class="nangluong-image"></a>
                    <div class="nangluong-content">
                        <a href="#" class="link"> <div class="nangluong-title">Tuổi trẻ Nghệ An đắm mình dưới nước ngọ vệt, làm sạch khe suối</div></a>
                        <div class="nangluong-meta">
                            <span class="time">18:37</span>
                            <span class="time">13/7/2025</span>
                            <a href="#" class="link"><span class="tenmenu">THỂ THAO</span></a>
                        </div>
                        <p class="chuphu">Cộng đồng mạng bức xúc khi chứng kiến cảnh người đàn ông livestream ghi lại cảnh đánh đập một cô gái đang ôm bé nhỏ. Cơ quan chức năng đang tìm người này để điều tra làm rõ vụ việc.</p>
                    </div>
                </div>

                <div class="nangluong-item">

                    <a href="#"><img src="https://images.unsplash.com/photo-1581091226825-a6a2a5aee158?ixlib=rb-4.0.3&auto=format&fit=crop&w=400&q=80" alt="Tuổi trẻ Nghệ An" class="nangluong-image"></a>
                    <div class="nangluong-content">
                        <a href="#" class="link"> <div class="nangluong-title">Tuổi trẻ Nghệ An đắm mình dưới nước ngọ vệt, làm sạch khe suối</div></a>
                        <div class="nangluong-meta">
                            <span class="time">18:37</span>
                            <span class="time">13/7/2025</span>
                            <a href="#" class="link"><span class="tenmenu">THỂ THAO</span></a>
                        </div>
                        <p class="chuphu">Cộng đồng mạng bức xúc khi chứng kiến cảnh người đàn ông livestream ghi lại cảnh đánh đập một cô gái đang ôm bé nhỏ. Cơ quan chức năng đang tìm người này để điều tra làm rõ vụ việc.</p>
                    </div>
                </div>

                <div class="nangluong-item">
                    <a href="#"><img src="https://images.unsplash.com/photo-1581091226825-a6a2a5aee158?ixlib=rb-4.0.3&auto=format&fit=crop&w=400&q=80" alt="Tuổi trẻ Nghệ An" class="nangluong-image"></a>
                    <div class="nangluong-content">
                        <a href="#" class="link"> <div class="nangluong-title">Tuổi trẻ Nghệ An đắm mình dưới nước ngọ vệt, làm sạch khe suối</div></a>
                        <div class="nangluong-meta">
                            <span class="time">18:37</span>
                            <span class="time">13/7/2025</span>
                            <a href="#" class="link"><span class="tenmenu">THỂ THAO</span></a>
                        </div>
                        <p class="chuphu">Cộng đồng mạng bức xúc khi chứng kiến cảnh người đàn ông livestream ghi lại cảnh đánh đập một cô gái đang ôm bé nhỏ. Cơ quan chức năng đang tìm người này để điều tra làm rõ vụ việc.</p>
                    </div>
                </div>
                <div class="xem-tat-ca">
                    <a href="#">XEM THÊM</a>
                </div>
            </div>
        </div>
    </div>
</div>



