
@{
    ViewBag.Title = "congnhe";
    Layout = "~/Views/Shared/trangchu.cshtml";
}
<link href="~/Content/Mycss/congnghe.css" rel="stylesheet"/>
<div class="tieudechinh">
    <h2>Sơn Tùng,Jack sắp  không thể leo 'top trending' YouTube</h2>
</div>
<div class="container">
    <div class="noidung">
        <div class="noidungchinh">
            <ul>
                <li class="ngaythangnam">Thứ sáu, 11/07/2025 17:15 (GMT+7)</li>
            </ul>
            <div class="tieudecuanoidung">
                <p class="title">YouTube chuẩn bị loại bỏ đi mục và danh sách Thịnh hành. Một trong những bảng xếp hạng về mức độ quan tâm trên Internet sẽ biến mất.</p>
                <img src="~/hình/Ban bí thư.png" class="hinh" />
                <h4 class="title-chumo">Nghệ sĩ Việt Nam sẽ không được YouTube ghi nhận thành tích khi tab Trending bị loại bỏ.Ảnh: MTP.</h4>
                <p>YouTube vừa chính thức thông báo sẽ "khai tử" tab Thịnh hành (Trending) và danh sách "Đang thịnh hành" (Trending Now), một trong những tính năng quen thuộc nhất của nền tảng trong gần một thập kỷ qua. Thay đổi này cho thấy nền tảng không còn tập trung vào một danh sách tổng hợp duy nhất cho các nội dung đang thịnh hành. Thay vào đó, nền tảng này sẽ chỉ hiển thị những nội dung phổ biến nhất theo từng danh mục cụ thể trên YouTube Charts.</p>
                <p>Tại Việt Nam, danh sách Thịnh hành của YouTube vẫn là một trong bảng xếp hạng uy tín, phản ánh mức độ quan tâm và thành tích nghệ sĩ. Việc tranh giành vị trí này từng là cuộc đua của các nghệ sĩ, chương trình truyền hình. Thời kỳ Sơn Tùng M-TP, Jack hay các gameshow như Ca sĩ Mặt nạ, Rap Việt, Anh Trai Say Hi, Anh Trai Vượt Ngàn Chông Gai thống trị bảng xếp hạng này phản ánh thị hiếu khán giả trong nước.</p>
                <p>Việc "cày view", "đua top" trending YouTube cho nghệ sĩ yêu thích cũng là một phần trong văn hóa thần tượng tại Việt Nam. Khi nền tảng loại bỏ danh mục này, cách ghi nhận thành tích cho nội dung cũng sẽ bị ảnh hưởng lớn.</p>
                <p>Theo YouTube, quyết định này phản ánh sự thay đổi trong cách người dùng khám phá nội dung. Nền tảng sẽ tập trung hơn vào các công cụ cá nhân hóa và các bảng xếp hạng chuyên biệt. Khi trang Thịnh hành ra mắt vào năm 2015, việc nắm bắt các video lan truyền dễ dàng hơn nhiều với một danh sách duy nhất.</p>
                <p>Tuy nhiên, các video thịnh hành đã mở rộng sang ngày càng nhiều danh mục và thể loại phụ, khiến tab Xu hướng trở nên kém hữu ích hơn đối với người dùng. Mặc dù vẫn hiển thị tốt các video hàng đầu, nhưng người dùng YouTube chỉ xem video vì những mục đích cụ thể. Có thể kể đến như video chơi game, theo dõi các streamer nhất định hoặc các sở thích cá nhân.</p>
                <img src="~/hình/vải thiều BG.png" class="hinh1" />
                <h4 class="title-chumo">Tab Thịnh hành sắp tới sẽ được thay thế bằng tính năng YouTube Charts mới. Ảnh: YouTube.</h4>
                <p>Bên cạnh đó, YouTube cũng thừa nhận rằng lưu lượng truy cập vào trang Thịnh hành đã giảm đáng kể, đặc biệt là trong 5 năm qua. Người dùng hiện nay khám phá các video lan truyền từ nhiều nguồn khác nhau, từ các video ngắn trên Shorts, các gợi ý tìm kiếm, cho đến các nền tảng khác như TikTok.</p>
                <p>"Cùng với việc làm nổi bật nội dung phổ biến trong các bảng xếp hạng, chúng tôi sẽ tiếp tục hiển thị cho người xem những video mà họ có thể yêu thích thông qua các đề xuất cá nhân hóa. Bằng cách này, chúng tôi có thể hiển thị nhiều nội dung phổ biến và phù hợp hơn, tạo cảm giác tự nhiên như cách người xem vẫn thường tìm kiếm video mới", công ty giải thích.</p>
                <p>Để thay thế, YouTube đang hướng người dùng và nhà sáng tạo đến các công cụ khác. Mục Xu hướng sẽ được thay thế bằng “YouTube Charts” trong thời gian tới. Đây là một trang nhỏ của YouTube được tạo ra để hiển thị một số nội dung phổ biến nhất trên trang web này theo thời gian thực. Tuy nhiên, nó cũng được chia thành các danh mục nhỏ, cho phép người dùng yêu thích các chủ đề nhất định có trải nghiệm tốt hơn.</p>
                <p>Hiện tại, YouTube Charts có các bảng xếp hạng theo danh mục mới bao gồm Video, Chương trình Podcast hàng tuần và Trailer phim thịnh hành. YouTube có kế hoạch bổ sung thêm các danh mục nội dung trong tương lai.</p>
            </div>
            <div class="baillienquan-section">
                <h3>Bài liên quan</h3>
                <div class="baillienquan-list">
                    <a href="#" class="baillienquan-item">
                        <img src="~/hình/war.png" />
                        <p>iPhone 7 không còn tải được YouTube</p>
                    </a>
                    <a href="#" class="baillienquan-item">
                        <img src="~/hình/war.png" />
                        <p>YouTube vừa dùng AI để 'phá vỡ rào cản ngôn ngữ'</p>
                    </a>
                    <a href="#" class="baillienquan-item">
                        <img src="~/hình/war.png" />
                        <p>Quảng cáo trên YouTube sắp khó chịu hơn bao giờ hết</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="related-articles">
            <div class="header">
                <h3><span class="slash">/</span>BẠN CÓ THỂ QUAN TÂM</h3>
            </div>
            <div class="article-grid">
                <div class="article-item">
                    <a href="#"><img src="~/hình/highlight river.png" alt="Thảm họa với app livestream" /></a>
                    <div class="article-content">
                        <a href="#" class="link">
                            <div class="article-title">Meme 'siêu nhân Trump' của Nhà Trắng gây tranh cãi</div>
                        </a>
                        <div class="meta">
                            <div class="time">07:40 13/7/2025</div>
                            <a href="#" class="link"><div class="category">INTERNET</div></a>
                        </div>
                    </div>
                </div>

                <div class="article-item">
                    <a href="#"><img src="~/hình/highlight river.png" alt="Gói AI 6,6 triệu của Google" /></a>
                    <div class="article-content">
                        <a href="#" class="link">
                            <div class="article-title">Meme 'siêu nhân Trump' của Nhà Trắng gây tranh cãi</div>
                        </a>
                        <div class="meta">
                            <div class="time">08:17 12/7/2025</div>
                            <a href="#" class="link"><div class="category">INTERNET</div></a>
                        </div>
                    </div>
                </div>

                <div class="article-item">
                    <a href="#"><img src="~/hình/highlight river.png" alt="Công an vào cuộc vụ livestream đánh đập" /></a>
                    <div class="article-content">
                        <a href="#" class="link">
                            <div class="article-title">Meme 'siêu nhân Trump' của Nhà Trắng gây tranh cãi</div>
                        </a>
                        <div class="meta">
                            <div class="time">10:51 13/7/2025</div>
                            <a href="#" class="link"><div class="category">INTERNET</div></a>
                        </div>
                    </div>
                </div>

                <div class="article-item">
                    <a href="#"><img src="~/hình/highlight river.png" alt="Quán net thành hơn hở tại Hàn Quốc" /></a>
                    <div class="article-content">
                        <a href="#" class="link">
                            <div class="article-title">Meme 'siêu nhân Trump' của Nhà Trắng gây tranh cãi</div>
                        </a>
                        <div class="meta">
                            <div class="time">08:37 13/7/2025</div>
                            <a href="#" class="link"><div class="category">INTERNET</div></a>
                        </div>
                    </div>
                </div>

                <div class="article-item">
                    <a href="#"><img src="~/hình/highlight river.png" alt="Meme 'siêu nhân Trump'" /></a>
                    <div class="article-content">
                        <a href="#" class="link">
                            <div class="article-title">Meme 'siêu nhân Trump' của Nhà Trắng gây tranh cãi</div>
                        </a>
                        <div class="meta">
                            <div class="time">12:45 12/7/2025</div>
                            <a href="#" class="link"><div class="category">INTERNET</div></a>
                        </div>
                    </div>
                </div>

                <div class="article-item">
                    <a href="#"><img src="~/hình/highlight river.png" alt="Người Việt thi nhau tìm kiếm" /></a>
                    <div class="article-content">
                        <a href="#" class="link">
                            <div class="article-title">Meme 'siêu nhân Trump' của Nhà Trắng gây tranh cãi</div>
                        </a>
                        <div class="meta">
                            <div class="time">18:50 10/7/2025</div>
                            <a href="#" class="link"><div class="category">INTERNET</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nangluong-section">
            <div class="header">
                <h3>XEM NHIỀU</h3>
            </div>
            <div class="nangluong-list">
                <div class="nangluong-item">
                    <a href="#"><img src="https://images.unsplash.com/photo-1581091226825-a6a2a5aee158?ixlib=rb-4.0.3&auto=format&fit=crop&w=400&q=80" alt="Tuổi trẻ Nghệ An" class="nangluong-image"></a>
                    <div class="nangluong-content">
                        <a href="#" class="link"> <div class="nangluong-title">Tuổi trẻ Nghệ An đắm mình dưới nước ngọ vệt, làm sạch khe suối</div></a>
                        <div class="nangluong-meta">
                            <span class="time">18:37</span>
                            <span class="time">13/7/2025</span>
                            <a href="#" class="link"><span class="tenmenu">THỂ THAO</span></a>
                        </div>
                        <p class="chuphu">Cộng đồng mạng bức xúc khi chứng kiến cảnh người đàn ông livestream ghi lại cảnh đánh đập một cô gái đang ôm bé nhỏ. Cơ quan chức năng đang tìm người này để điều tra làm rõ vụ việc.</p>
                    </div>
                </div>

                <div class="nangluong-item">
                    <a href="#"><img src="https://images.unsplash.com/photo-1581091226825-a6a2a5aee158?ixlib=rb-4.0.3&auto=format&fit=crop&w=400&q=80" alt="Tuổi trẻ Nghệ An" class="nangluong-image"></a>
                    <div class="nangluong-content">
                        <a href="#" class="link"> <div class="nangluong-title">Tuổi trẻ Nghệ An đắm mình dưới nước ngọ vệt, làm sạch khe suối</div></a>
                        <div class="nangluong-meta">
                            <span class="time">18:37</span>
                            <span class="time">13/7/2025</span>
                            <a href="#" class="link"><span class="tenmenu">THỂ THAO</span></a>
                        </div>
                        <p class="chuphu">Cộng đồng mạng bức xúc khi chứng kiến cảnh người đàn ông livestream ghi lại cảnh đánh đập một cô gái đang ôm bé nhỏ. Cơ quan chức năng đang tìm người này để điều tra làm rõ vụ việc.</p>
                    </div>
                </div>

                <div class="nangluong-item">
                    <a href="#"><img src="https://images.unsplash.com/photo-1581091226825-a6a2a5aee158?ixlib=rb-4.0.3&auto=format&fit=crop&w=400&q=80" alt="Tuổi trẻ Nghệ An" class="nangluong-image"></a>
                    <div class="nangluong-content">
                        <a href="#" class="link"> <div class="nangluong-title">Tuổi trẻ Nghệ An đắm mình dưới nước ngọ vệt, làm sạch khe suối</div></a>
                        <div class="nangluong-meta">
                            <span class="time">18:37</span>
                            <span class="time">13/7/2025</span>
                            <a href="#" class="link"><span class="tenmenu">THỂ THAO</span></a>
                        </div>
                        <p class="chuphu">Cộng đồng mạng bức xúc khi chứng kiến cảnh người đàn ông livestream ghi lại cảnh đánh đập một cô gái đang ôm bé nhỏ. Cơ quan chức năng đang tìm người này để điều tra làm rõ vụ việc.</p>
                    </div>
                </div>

                <div class="nangluong-item">
                    
                    <a href="#"><img src="https://images.unsplash.com/photo-1581091226825-a6a2a5aee158?ixlib=rb-4.0.3&auto=format&fit=crop&w=400&q=80" alt="Tuổi trẻ Nghệ An" class="nangluong-image"></a> 
                    <div class="nangluong-content">
                        <a href="#" class="link"> <div class="nangluong-title">Tuổi trẻ Nghệ An đắm mình dưới nước ngọ vệt, làm sạch khe suối</div></a>
                        <div class="nangluong-meta">
                            <span class="time">18:37</span>
                            <span class="time">13/7/2025</span>
                            <a href="#" class="link"><span class="tenmenu">THỂ THAO</span></a>
                        </div>
                        <p class="chuphu">Cộng đồng mạng bức xúc khi chứng kiến cảnh người đàn ông livestream ghi lại cảnh đánh đập một cô gái đang ôm bé nhỏ. Cơ quan chức năng đang tìm người này để điều tra làm rõ vụ việc.</p>
                    </div>
                </div>

                <div class="nangluong-item">
                    <a href="#"><img src="https://images.unsplash.com/photo-1581091226825-a6a2a5aee158?ixlib=rb-4.0.3&auto=format&fit=crop&w=400&q=80" alt="Tuổi trẻ Nghệ An" class="nangluong-image"></a>
                    <div class="nangluong-content">
                        <a href="#" class="link"> <div class="nangluong-title">Tuổi trẻ Nghệ An đắm mình dưới nước ngọ vệt, làm sạch khe suối</div></a>
                        <div class="nangluong-meta">
                            <span class="time">18:37</span>
                            <span class="time">13/7/2025</span>
                            <a href="#" class="link"><span class="tenmenu">THỂ THAO</span></a>
                        </div>
                        <p class="chuphu">Cộng đồng mạng bức xúc khi chứng kiến cảnh người đàn ông livestream ghi lại cảnh đánh đập một cô gái đang ôm bé nhỏ. Cơ quan chức năng đang tìm người này để điều tra làm rõ vụ việc.</p>
                    </div>
                </div>
                <div class="xem-tat-ca">
                    <a href="#">XEM THÊM</a>
                </div>
            </div>
        </div>
    </div>
</div>

