
@{
    ViewBag.Title = "trangchu";
    Layout = "~/Views/Shared/trangchu.cshtml";
}
<link href="~/Content/Mycss/thancuatrangchu.css" rel="stylesheet" />
<div class="container">
    <div class="main-content">
        <div class="hero-section">
            <a href="#">
                <img src="~/hình/Ban bí thư.png" alt="Ban bí thư" title="huhu" class="main-article-image" />
            </a>
            <div class="headline-box">
                <a href="#" class="link-font-chu">
                    <h3>Kết luận của bộ chính trị,Ban bí thư về hoàn thành sắp xếp tổ chức bộ máy và đơn vị hành chính  </h3>
                </a>
            </div>
        </div>
        <div class="article-boy">
            <p>TPO - Ngày 20/6, thay mặt Bộ Chính trị, Thường trực Ban Bí thư ký ban hành Kết luận 169 của Bộ Chính trị, Ban Bí thư về tập trung hoàn thành nhiệm vụ sắp xếp tổ chức bộ máy và đơn vị hành chính.</p>
            <ul>
                <li><a href="#" class="link-font-chu">Thủ tướng: 63 hay 34 tỉnh thành cũng là đất nước, quê hương của chúng ta</a></li>
                <li><a href="#" class="link-font-chu">Sáp nhập còn 34 tỉnh, thành phố: Mở rộng không gian phát triển</a></li>
                <li><a href="#" class="link-font-chu">Quốc hội thông qua Nghị quyết lịch sử, Việt Nam chính thức còn 34 tỉnh, thành</a></li>
            </ul>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar-articles">
            <div class="sidebar-article-item">
                <a href="#" class="link-font-chu"><h4>Người hoạt động không chuyên trách cấp xã tiếp tục làm việc đên 31/5/2026</h4></a>
                <hr style="margin:15px 0"/>
            </div>
            <div class="sidebar-article-item">
                <a href="#" class="link-font-chu"><h4>Giá vé có G-Dragon giảm sâu,phe vé ế khách</h4></a>
                <hr style="margin:15px 0" />
            </div>
            <div class="sidebar-article-item">
                <a href="#" class="link-font-chu"><h4>Bế mạc hội báo toàn quốc 2025: Báo tiền phong nhận giải B gian trưng bày ấn tượng</h4></a>
                <hr style="margin:15px 0" />
            </div>
            <div class="sidebar-article-item">
                <a href="#" class="link-font-chu"><h4>Có 1 nhà báo kiệt xuất Võ Nguyên Giáp</h4></a>
                <hr style="margin:15px 0" />
            </div>
            <div class="sidebar-article-item">
                <a href="#" class="link-font-chu"><h4>Huế chạy nước rút rà soát,cấp mới gần 2.000 con dấu</h4></a>
                <hr style="margin:15px 0" />
            </div>
            <div class="sidebar-article-item">
                <a href="#" class="link-font-chu"><h4>Anh Nguyễn Nhất Linh được chỉ định làm bí thư đoàn thanh niên mặt trận tổ quốc các đoàn thể trung ương</h4></a>
                <hr style="margin:15px 0" />
            </div>
            <div class="sidebar-article-item">
                <a href="#" class="link-font-chu"><h4>Điều động 5 lãnh đạo cấp sở ở Lâm Đồng về công tác tại xã,phường</h4></a>
                <hr style="margin:15px 0" />
            </div>
            <div class="sidebar-article-item">
                <a href="#" class="link-font-chu"><h4>Gà leo mái nhà,heo được người dân hối hả bế đi chạy lũ</h4></a>
                <hr style="margin:15px 0" />
            </div>
            <div class="sidebar-article-item">
                <a href="#" class="link-font-chu"><h4>Nga nhiều lần giải thích với Israel về chương trình hạt nhân của Iran</h4></a>
                <hr style="margin:15px 0" />
            </div>
            <div class="sidebar-article-item">
                <a href="#" class="link-font-chu"><h4>Iran tuyên bố loại bỏ 2 quan chức cấp cao của quân đội Iran</h4></a>
            </div>
        </div>
    </div>
    <div class="social-widget">
        <img src="~/hình/anhpage.jpg" class="cover-image " alt="ảnh bìa"/>
        <div class="profile-info">
            <a href="https://www.facebook.com/www.tienphong.vn/?ref=embed_page#" target="_blank">
                <img src="~/hình/logo.png" class="profile-logo" alt="logo" />
            </a>
            <div class="text-info">
             <a href="https://www.facebook.com/www.tienphong.vn/?ref=embed_page#" target="_blank"> <h3 class="page-name">Báo tiền phong <span class="verified-badge">✔</span></h3></a>
                <p class="followers">752,312 followers</p>
            </div>
        </div>
        <div class="actions">
            <div class="right">
                <button class="facebook-button-follow">
                    <i class="fab fa-facebook-f"></i> Follow Page
                </button>
            </div>
            <div class="left">
            <button class="share-button">
                <i class="fas fa-share-alt"></i> Share
            </button>
        </div>
        </div>
   </div>
</div>
<div class="container1">
    <div class="related-thebaibao">
        <div class="thebaibao">
            <a href="#" target="_blank" class="link"><img src="~/hình/ông netanyahu.png" class="card-image" />
                <span class="card-title">Nụ cười của ông Netanyahu</span>
            </a>
            
        </div>
        <div class="thebaibao">
            <a href="#" target="_blank" class="link"><img src="~/hình/war.png" class="card-image" /><span class="card-title">Mất mặt và mất mát</span></a>
            
        </div>
        <div class="thebaibao">
            <a href="#" target="_blank" class="link"><img src="~/hình/hoahau.png" class="card-image" /><span class="card-title">Chờ đăng quang hoa hậu Việt Nam bên bờ sông hương</span></a>
        </div>
        <div class="thebaibao">
            <a href="#" target="_blank" class="link"><img src="~/hình/hoahau1.png" class="card-image" /><span class="card-title">1 ngày của thí sinh hoa hậu Việt Nam 2024</span></a>
            
        </div>
</div>
</div>




